<div class="home-page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div class="content-wrapper">
          <h1 class="header-title">Peak Finder AI.</h1>
          <div class="intro-row">
            <mat-icon class="intro-icon">landscape</mat-icon>
            <p class="intro-sentence">
              Discover the mountain in your photo with AI.
            </p>
          </div>
          <div class="intro-row">
            <mat-icon class="intro-icon">photo_camera</mat-icon>
            <p class="intro-sentence">Capture the moment, unveil the peak.</p>
          </div>
          <div class="intro-row">
            <mat-icon class="intro-icon">map</mat-icon>
            <p class="intro-sentence">
              Your adventure, identified and remembered.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img
          src="../../assets/graphics/home-mountain-graphic.webp"
          class="img-fluid"
          mat-card-image
        />
      </div>
    </div>
  </div>
  <br />
  <div class="container-fluid">
    <app-mountain-classifier-form></app-mountain-classifier-form>
  </div>
</div>
