<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <p>
        Peak Processing serves as the Senior Design Project for the following
        undergraduate students at the University of Wyoming. The objective of
        this site is to display the skills of each student in their respective
        field. For Adeline and Dylan, both of whom are web developers, this
        project serves as a basis to demonstrate front-end and back-end
        development while also allowing us to express ourselves creatively as
        individuals. For Austin, this project enables him to showcase his
        statistical background by creating the AI model that classifies
        mountains peaks and ranges.
      </p>
    </div>
    <div class="col-2"></div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="col-4 text-center">
      <h1 class="about-us-name">Adeline Reichert</h1>
      <img src="assets/Addie_Bio_Picture.jpg" />
      <h3>
        B.S. Computer Science
        <h4>
          <a href="https://www.LinkedIn.com/in/Adeline-Reichert/"
            ><img
              class="linkedin-icon"
              src="assets/LinkedinIcon.png"
              alt="LinkedIn Profile"
          /></a>
        </h4>
      </h3>
      <p>
        Adeline is a logical, hard-working, and organized senior at the
        University of Wyoming studying computer science with a concentration in
        computers and business and a certificate in cybersecurity. She is also
        pursuing minors in mathematics and business. Adeline's current interests
        lie in web development and she is enjoying exploring and constantly
        learning different pieces of the development stack. In her free time,
        she enjoys hosting board game nights and getting lost in all different
        types of movies.
      </p>
    </div>
    <div class="col-4 text-center">
      <h1 class="about-us-name">Dylan Miller</h1>
      <img src="assets/Dylan_Bio_Picture.jpg" />
      <h3>
        B.S. Computer Engineering, B.S. Computer Science
        <h4>
          <a href="https://www.linkedin.com/in/dylan-luke-miller/"
            ><img
              class="linkedin-icon"
              src="assets/LinkedinIcon.png"
              alt="LinkedIn Profile"
          /></a>
        </h4>
      </h3>
      <p>
        I am a web developer who is passionate about all aspects of computing.
        As a hardware engineer, I have specialized in the physical design of
        integrated circuits (VLSI) and higher-level digitial design (VHDL). As a
        web developer, I am passionate about both front-end and back-end
        development for modern web applications.
      </p>
    </div>
    <div class="col-4 text-center">
      <h1 class="about-us-name">Austin Stephen</h1>
      <img src="assets/Austin_Bio_Picture.jpg" />
      <h3>
        B.S. Statistics, B.S. Computer Science
        <h4>
          <a href="https://www.linkedin.com/in/austin-stephen-comp-sci/"
            ><img
              class="linkedin-icon"
              src="assets/LinkedinIcon.png"
              alt="LinkedIn Profile"
          /></a>
        </h4>
      </h3>
      <p>
        I am interested in automated machine learning, applications of
        statisitics, and statistical compunting. Outside of academic pursuits, I
        enjoy backpacking and trail running.
      </p>
    </div>
  </div>
</div>
