@use 'sass:map';
@import '~@angular/material/theming';
@import '../../theme.scss';
@include angular-material-theme($color-theme);

.explanation-p {
  text-align: center;
  font-size: 16px;
}

.all-bios:hover > .individual-bio:not(:hover){
  opacity: 0.3;
}

.individual-bio:hover {
  background-color: map.get(map.get($color-theme, 'accent'), 50);
}

.about-us-name {
  background-color: map.get(map.get($color-theme, 'accent'), 800);
  color: map.get(map.get(map.get($color-theme, 'accent'), 'contrast'), 800);
  border-radius: 25px;
}

.bio-pic {
  width: 100%;
}

.major-header {
  margin: 0px;
}

.linkedin-icon {
  height: 2em;
  width: 2em;
  margin: 0px;
}
