<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kalam" />

<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-sm-8">
      <p class="explanation-p">
        Summit Guide by Peak Processing serves as the Senior Design Project for the following
        undergraduate students at the University of Wyoming. The objective of
        this site is to display the skills of each student in their respective
        fields. For Adeline and Dylan, both of whom are web developers, this
        project serves as a basis to demonstrate front-end and back-end
        development while also allowing them to express themselves creatively. 
        For Austin, this project enables him to showcase his
        statistical background by creating the machine learning model that classifies
        mountain peaks and ranges.
      </p>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-center individual-bio">
      <br />
      <h1 class="about-us-name">Adeline Reichert</h1>
      <img class="bio-pic" src="assets/Addie_Bio_Picture.jpg" />
      <h3 class="major-header">B.S. Computer Science</h3>
      <a href="https://www.LinkedIn.com/in/Adeline-Reichert/" target="_blank">
        <img
          class="linkedin-icon"
          src="assets/LinkedinIcon.png"
          alt="LinkedIn Profile"
        />
      </a>
      <p>
        Adeline's current interests
        lie in web development and she is enjoying exploring and constantly
        learning different pieces of the development stack. In her free time,
        she enjoys hosting board game nights and getting lost in all different
        types of movies.
      </p>
    </div>
    <div class="col-sm-4 text-center individual-bio">
      <br />
      <h1 class="about-us-name">Dylan Miller</h1>
      <img class="bio-pic" src="assets/Dylan_Bio_Picture.jpg" />
      <h3 class="major-header">
        B.S. Computer Engineering, B.S. Computer Science
      </h3>
      <a href="https://www.linkedin.com/in/dylan-luke-miller/" target="_blank">
        <img
          class="linkedin-icon"
          src="assets/LinkedinIcon.png"
          alt="LinkedIn Profile"
        />
      </a>
      <p>
        Dylan is a web developer who is passionate about all aspects of computing.
        As a hardware engineer, he has specialized in the physical design of
        integrated circuits (VLSI) and higher-level digitial design (VHDL). As a
        web developer, he is passionate about both front-end and back-end
        development for modern web applications.
      </p>
    </div>
    <div class="col-sm-4 text-center individual-bio">
      <br />
      <h1 class="about-us-name">Austin Stephen</h1>
      <img class="bio-pic" src="assets/Austin_Bio_Picture.jpg" />
      <h3 class="major-header">
        B.S. Statistics, B.S. Computer Science
      </h3>
      <a href="https://www.linkedin.com/in/austin-stephen-comp-sci/" target="_blank">
        <img
          class="linkedin-icon"
          src="assets/LinkedinIcon.png"
          alt="LinkedIn Profile"
        />
      </a>
      <p>
        Austin is interested in automated machine learning, applications of
        statisitics, and statistical computing. Outside of academic pursuits, he
        enjoys backpacking and trail running.
      </p>
    </div>
  </div>
</div>
