<p>How it works works!</p>

<!-- Include these to use MathJax to format equations -->
<!-- <html>
  <head>
    <title>MathJax</title>
    <link rel="icon" href="" type="svg">

    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
  </head>
  <body>
    Below is the quadratic formula:
    \[a^2 + b^2 = c^2\]

    Wow, having LaTeX in the browser is cool, but I can't do inline variables. $x = 0$ does not work!
  </body>
</html> -->
<!-- <h1>How Summit Guide is Able to Classify Mountain Images:</h1>
<p>
  We leverage the location and image to determine the mountain a user 
  is looking at. Both methods independently produce a vector of 
  probabilities and the classification shown to the end user 
  prediction is the class with the highest joint probability over both 
  sources of information. Below describes each methodology in detail.
</p>

<h3>Location Probability Estimation:</h3>
<p>
  The function A produces a probability estimate based on the 
  feasibility of the mountain being visible from a specific location 
  on earth. Where a distance approaching 0 miles implies a probability 
  approaching 1 and a distance of > 200 miles implies a probability &lt; 
  0.01.  
</p>
<p>
  \(a \ne 0\)
</p> -->
<!-- <p>
  $Pr(d) = \frac{1}{0.84 + 1.05^{(d-40)}}
</p> -->

<!-- <p>

Pr(d)=1/(0.84+〖1.05〗^((d-40)) )
The distance from the peak D is calculated using the coordinates and DYLAN FILL.
It is difficult to estimate how this performs in practice because the

</p> -->