@use 'sass:map';
@import '~@angular/material/theming';
@import '../../theme.scss';
@include angular-material-theme($color-theme);

.how-to-page {
  margin-left: 2vw;
  margin-right: 2vw;
}

.how-to-page > div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: map.get(map.get($color-theme, 'accent'), 50);
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1em;
  padding-bottom: 1em;
}

.how-to-page > div > div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: map.get(map.get($color-theme, 'accent'), 200);
  color: map.get(map.get(map.get($color-theme, "accent"), "contrast"), 200);
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1em;
  padding-bottom: 1em;
}

.how-to-page > h3 {
  font-family: "Kalam";
  font-size: 26px;
}

.how-to-page > div > h4 {
  font-family: "Kalam";
  font-size: 18px;
}

p {
  font-size: 16px;
}

.how-to-page > div > div > img {
  width: 100%;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}