<div class="container-fluid">
  <div class="d-flex justify-content-center align-items-center">
    <h1 mat-dialog-title>Prediciton:</h1>
  </div>

  <div mat-dialog-content>
    <div class="col-12 d-flex justify-content-center align-items-center">
      <app-mountain-card [mountain]="data"></app-mountain-card>
    </div>
  </div>
  <div
    mat-dialog-actions
    class="d-flex justify-content-center align-items-center"
  >
    <button mat-button (click)="onNoClick()" cdkFocusInitial>Home</button>
  </div>
</div>
