<div class="color-theme">
  <div *ngIf="!isMobileView">
    <mat-grid-list class="web-toolbar" cols="5" rowHeight="70px">
      <mat-grid-tile>
        <mat-icon>landscape</mat-icon>
        <span>&nbsp; Peak Processing</span>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="web-toolbar-button" [routerLink]="['/']">
          <span>Home</span>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button [routerLink]="['/about-us']">
          <span>About Us</span>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button [routerLink]="['/classifiable-mountains']">
          <span>Classifiable Mountains</span>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button [routerLink]="['/how-it-works']">
          <span>How it Works</span>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div *ngIf="isMobileView">
    <mat-toolbar color="primary">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu class="color-theme" #menu="matMenu">
        <button mat-menu-item [routerLink]="['/']">
          <mat-icon color="primary">home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item [routerLink]="['/about-us']">
          <mat-icon color="primary">person</mat-icon>
          <span>About Us</span>
        </button>
        <button mat-menu-item [routerLink]="['/classifiable-mountains']">
          <mat-icon color="primary">photo_library</mat-icon>
          <span>Classifiable Mountains</span>
        </button>
        <button mat-menu-item [routerLink]="['/how-it-works']">
          <mat-icon color="primary">assessment</mat-icon>
          <span>How it Works</span>
        </button>
      </mat-menu>
      <span>Peak Processing</span>
    </mat-toolbar>
  </div>
</div>
