@use "sass:map";
@import "@angular/material/theming";
@import "../../theme.scss";
@include angular-material-theme($color-theme);

.mountain-card {
  width: 100%;
  height: 100%;
  // border-radius: 5px;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  background-color: map.get(map.get($color-theme, "accent"), 50);
}

h3 {
  font-family: "Kalam";
  font-size: 18px;
}

// .mat-card-header {
//   text-align: center;
// }

// .mat-card-content {
//   padding: 0;
// }

// .details {
//   display: flex;
//   justify-content: space-between;
// }

// .label {
//   font-weight: bold;
// }

// .location {
//   flex-grow: 1;
// }

// .elevation {
//   flex-grow: 1;
//   text-align: right;
// }

@media (min-width: 576px) {
  .mountain-card {
    width: calc(33.33vw - 20px);
    height: 60vh;
    margin: 10px auto;
  }
}

@media (min-width: 992px) {
  .mountain-card {
    width: 30vw;
  }
}
