<div class="container-fluid">
  <br />
  <div class="row">
    <div class="col-2"></div>
    <div class="col-sm-8">
      <p class="explanation-p">
        Below is the list of the six mountains Summit Guide is currently trained
        to classify. Click each image to learn more about each peak.
      </p>
    </div>
    <div class="col-2"></div>
  </div>
  <br />

  <div class="row">
    <ng-container *ngFor="let mountain of mountainArray; let i = index">
      <div class="col-md-4">
        <app-mountain-card [mountain]="mountain"></app-mountain-card>
      </div>
      <div class="clearfix" *ngIf="(i + 1) % 3 === 0"></div>
      <br />
    </ng-container>
  </div>
</div>

<!-- mountain-gallery.component.html -->
<!-- <div class="mountain-gallery">
  <div class="mountain-gallery-row">
    <ng-container *ngFor="let mountain of mountainArray">
      <div class="mountain-card-container">
        <app-mountain-card [mountain]="mountain"></app-mountain-card>
      </div>
    </ng-container>
  </div>
</div> -->
