<div class="container-fluid">
  <br />
  <div class="row">
    <div class="col-2"></div>
    <div class="col-sm-8">
      <p class="explanation-p">
        Below is the list of mountains Peak Processing is currently trained to
        classify. Click each image to learn more about each peak.
      </p>
    </div>
    <div class="col-2"></div>
  </div>
  <br />
  <div class="row">
    <!-- Grand Teton -->
    <div class="col-sm-4">
      <mat-expansion-panel class="gallery-card">
        <mat-expansion-panel-header
          collapsedHeight="100%"
          expandedHeight="100%"
        >
          <mat-panel-title>
            <mat-card>
              <mat-card-header>
                <mat-card-title class="text-center">Grand Teton</mat-card-title>
              </mat-card-header>
              <img
                mat-card-image
                src="../../assets/gallery-images/Grand_Teton.jpg"
              />
            </mat-card>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <h3>Teton county, Wyoming, United States</h3>
        <h3>Elevation: 13,775 ft</h3>
      </mat-expansion-panel>
    </div>

    <!-- Maroon Peak -->
    <div class="col-sm-4">
      <mat-expansion-panel class="gallery-card">
        <mat-expansion-panel-header
          collapsedHeight="100%"
          expandedHeight="100%"
        >
          <mat-panel-title>
            <mat-card>
              <mat-card-header>
                <mat-card-title class="text-center">Maroon Peak</mat-card-title>
              </mat-card-header>
              <img
                mat-card-image
                src="../../assets/gallery-images/Maroon_Peak.jpg"
              />
            </mat-card>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <h3>Pitkin and Gunnison counties, Colorado, United States</h3>
        <h3>Elevation: 14,163 ft</h3>
      </mat-expansion-panel>
    </div>

    <!-- Medicine Bow Peak -->
    <div class="col-sm-4">
      <mat-expansion-panel class="gallery-card">
        <mat-expansion-panel-header
          collapsedHeight="100%"
          expandedHeight="100%"
        >
          <mat-panel-title>
            <mat-card>
              <mat-card-header>
                <mat-card-title class="text-center"
                  >Medicine Bow Peak</mat-card-title
                >
              </mat-card-header>
              <img
                mat-card-image
                src="../../assets/gallery-images/Medicine_Bow_Peak.jpg"
              />
            </mat-card>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <h3>Albany and Carbon counties, Wyoming, United States</h3>
        <h3>Elevation: 12,018 ft</h3>
      </mat-expansion-panel>
    </div>
  </div>

  <!-- Mountain 4 -->
  <div class="row">
    <div class="col-sm-4">
      <mat-expansion-panel class="gallery-card">
        <mat-expansion-panel-header
          collapsedHeight="100%"
          expandedHeight="100%"
        >
          <mat-panel-title>
            <mat-card>
              <mat-card-header>
                <mat-card-title class="text-center">Mountain 4</mat-card-title>
              </mat-card-header>
              <img
                mat-card-image
                src="../../assets/gallery-images/Filler_Mountain.png"
              />
            </mat-card>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <h3>Tile 4</h3>
      </mat-expansion-panel>
    </div>
  </div>
</div>
